<% if (!index) {%>
<time datetime="<%= item.date.toDate().toISOString() %>">
  <i class="fa fa-calendar"></i>&nbsp;
  <%= item.date.format(config.date_format) %>
</time>
<%}else{%>
<time datetime="<%= date_xml(item.date) %>" itemprop="datePublished">
  <i class="fa fa-calendar"></i>&nbsp;
  <%= date(item.date, "MM-DD") %>
</time>
<%}%>

<% if (item.categories && item.categories.length){ %>
    <% var cats = [];
        item.categories.forEach(function(cat){
        cats.push('<a href="' + config.root + cat.path + '">' + cat.name + '</a>');
    });%>
    &nbsp;
    <i class="fa fa-tag"></i>&nbsp;
    <%- cats.join('·') %>
<% } %>


<% if (item.tags && item.tags.length){ %>
    <% var tags = [];
        item.tags.forEach(function(tag){
        tags.push('<a href="' + config.root + tag.path + '">' + tag.name + '</a>');
    });%>
    &nbsp;
    <i class="fa fa-tag"></i>&nbsp;
    <%- tags.join('·') %>
<% } %>
