<% if (!index) {%>
<time datetime="<%= item.date.toDate().toISOString() %>">
<svg class="i-calendar" viewBox="0 0 32 32" width="16" height="16" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
    <path d="M2 6 L2 30 30 30 30 6 Z M2 15 L30 15 M7 3 L7 9 M13 3 L13 9 M19 3 L19 9 M25 3 L25 9"></path>
  </svg>
  &nbsp;
  <%= item.date.format(config.date_format) %>
</time>
<%}else{%>
<time datetime="<%= date_xml(item.date) %>" itemprop="datePublished">
<svg class="i-calendar" viewBox="0 0 32 32" width="16" height="16" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
    <path d="M2 6 L2 30 30 30 30 6 Z M2 15 L30 15 M7 3 L7 9 M13 3 L13 9 M19 3 L19 9 M25 3 L25 9"></path>
  </svg>
  &nbsp;
  <%= date(item.date, "MM-DD") %>
</time>
<%}%>

<% if (item.categories && item.categories.length){ %>
    <% var cats = [];
        item.categories.forEach(function(cat){
        cats.push('<a href="' + config.root + cat.path + '">' + cat.name + '</a>');
    });%>
    &nbsp;
    <svg class="i-tag" viewBox="0 0 32 32" width="16" height="16" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
      <circle cx="24" cy="8" r="2"></circle>
      <path d="M2 18 L18 2 30 2 30 14 14 30 Z"></path>
    </svg>
    &nbsp;
    <%- cats.join('·') %>
<% } %>


<% if (item.tags && item.tags.length){ %>
    <% var tags = [];
        item.tags.forEach(function(tag){
        tags.push('<a href="' + config.root + tag.path + '">' + tag.name + '</a>');
    });%>
    &nbsp;
    <svg class="i-tag" viewBox="0 0 32 32" width="16" height="16" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
      <circle cx="24" cy="8" r="2"></circle>
      <path d="M2 18 L18 2 30 2 30 14 14 30 Z"></path>
    </svg>
    &nbsp;
    <%- tags.join('·') %>
<% } %>
