<% if(index){ %>
<div>
<li class="post-item">
  <%- partial('post/title') %>
  <div class="excerpt">
  <% if (item.excerpt){ %>
        <%- item.excerpt %>
  <% } else { %>
        <%- strip_html(item.content).replace(/^\s*/, '').replace(/\s*$/, '|').substring(0, theme.excertp_num) %>
  <% } %>
  </div>
  <div class="index-meta">
      <time datetime="<%= date_xml(item.date) %>" itemprop="datePublished">
        <i class="fa fa-calendar"></i>&nbsp;
        <%= date(item.date, "MM-DD") %>
        &nbsp;&nbsp;
      </time>
      <i class="fa fa-tag"></i>&nbsp;
      <% if (item.categories && item.categories.length){ %>
        <% var cats = [];
            item.categories.forEach(function(cat){
            cats.push('<a href="' + config.root + cat.path + '">' + cat.name + '</a>');
            });%>
        <%- cats.join(' ') %>
      <% } %>
  </div>
</li>
</div>
<hr>
<% } else { %>

  <article class="standard <%= item.layout %>">
    <div class="title">
      <%- partial('post/title') %>
    </div>
    <div class="meta center">
      <%- partial('post/meta') %>
    </div>
    <hr>
    <%- item.content %>

  </article>

<% } %>
<%- partial('post/comment') %>
